{% extends 'base.html.twig' %}


{% block body %}
<div class="container my-5">
    <h1 class="text-center mt-5 mb-5">Mon compte</h1>
    <div class="form-container justify-content-start col-md-9 mx-auto">
        <div class=" text-center  form-wrapper mb-5">
            <h2 class="text-center">Modification du mot de passe</h2>
            {{form(modifyPwdForm)}}
        </div>
    </div>
</div>
{% endblock %}